<!-- blog/favorite_post.html -->
{% extends "base.html" %}

{% block title %}投稿一覧 | {{ block.super }}{% endblock %}
{% block description %}マイブログです。毎日更新します。{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <h1 class="mb-4">「{{ user.name }}」の投稿一覧</h1>
      <div class="post-loop-wrap">
            {% for post in user.favorite_post.all %}
            {% if user.is_authenticated or post.is_public %}
            
            <article class="entry">
              {% if post.image1 %}
              <figure>
               <a href="{% url 'blog:post_detail' %}">
                 <img class="card-img-top" src="{{ post.image1.url }}" alt="{{ post.title }}">
               </a>
              </figure>
              {% endif %}
              <header class="post-header">
                  <h2 class="post-title">
                    <a href="{% url 'blog:post_detail' post.id %}">
                      {{ post.title }}
                    </a>
                  </h2>
              </header>
              <section>
                <p class="pub-date">{{ post.published_at|date }}</p>
              </section>
                {% if not post.is_public %}  
                  <h6><span class="badge badge-secondary">下書き</span></h6>
                {% endif %}
                <form action="{% url 'blog:favorite_post' post.pk %}" method="post">
                    <button type="submit" name="button">お気に入り追加</button>
                    {% csrf_token %}
                </form>
            </article>
            
            {% endif %}
            {% empty %}
            <p>まだ投稿はありません。</p>
            {% endfor %}
            </div>

      {% include "blog/snippets/pagination.html" %}
  </div>
</div>
{% endblock %}