<!-- blog/post_detail.html -->
{% extends "base.html" %}

{% block title %}投稿一覧 | {{ block.super }}{% endblock %}
{% block description %}マイブログです。毎日更新します。{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <article class="blog-area">
            <h1>{{ object.title }}</h1>
            <p>{{ object.published_at|date }}</p>
            <p>{{ object.category.name }}</p>
            {% for tag in object.tags.all %}
            {{ tag.name }}
            {% endfor %}
            <hr>
            {{ object.content|safe }}
            <img src="{{ post.image.url }}" width="240" height="126">
        </article>
        <article class="comment-area">
            <a class="btn btn-primary my-3" href="{% url 'blog:comment_form' post.pk %}">コメントを投稿する</a>
            {% include "blog/snippets/comments.html" %}
          </article>
    </div>
</div>
{% endblock %}