<!-- templates/base.html -->

{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}FightMedia{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <link rel="icon" href="{% static 'blog/img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
  <div class="wrapper">
    {% include "base/navbar.html" %}
    
    {% block content %}
    {% endblock %}







  <footer id="colophon" class="site-footer" role="contentinfo">
        
    <div class="footer-widget-area" role="complementary">

    <section id="nav_menu-2" class="footer-widget">
    <div class="footer-container">
    <ul class="footer-menu-nav">
    <h3 class="footer-widget-title">カテゴリ</h3>
    <li class="menu-item"><a href="/blog/category/boxing/">ボクシング</a></li>
    <li class="menu-item"><a href="/blog/category/kick-boxing/">キックボクシング</a></li>
    <li class="menu-item"><a href="/blog/category/muay-thai/">ムエタイ</a></li>
    <li class="menu-item"><a href="/blog/category/mma/">総合格闘技</a></li>
    <li class="menu-item"><a href="/blog/category/capoeira/">カポエイラ</a></li>
    <li class="menu-item"><a href="/blog/category/systema/">システマ</a></li>
    </ul>
    </div>
    </section>
    
    
    <section id="nav_menu-3" class="footer-widget">
    <div class="footer-container">
    <ul class="footer-menu-nav">
    <h3 class="footer-widget-title">特設ページ</h3>
    <li class="menu-item"><a href="#">FightMediaの全記事一覧</a></li>
    <li class="menu-item"><a target="_blank" href="#">PFP一覧</a></li>
    <li class="menu-item"><a href="#">無料ダウンロード</a></li>
    <li class="menu-item"><a href="#">お問い合わせ</a></li>
    </ul>
    </div>
    </section>
    
    <section id="nav_menu-4" class="footer-widget">
    <div class="footer-container">
    <ul class="footer-menu-nav">
    <h3 class="footer-widget-title">about us</h3>
    <li class="menu-item"><a target="_blank" href="#">会社情報</a></li>
    <li class="menu-item"><a href="#">お問い合わせ</a></li>
    <li class="menu-item"><a href="#">プライバシーポリシー</a></li>
    <li class="menu-item"><a target="_blank" href="#">採用情報</a></li>
    </ul>
    </div>
    </section>
    
    

        
  <div class="site-info">
    <div class="footer-copy-container">  
      <p class="footer-copy">© Copyright 2019 FightMedia. All rights reserved.</p>
    </div><!-- .container -->    
  </div><!-- .site-info -->
  
</div>

</footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</div>
  </body>
</html>